.App {
  text-align: center;
  background-color: #151515;
  width: 100%;
  height: 200vh;
  /* display: flex; */
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}
.game {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  max-width: 350px;
  width: 100%;
  height: 400px;
  display: grid;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 10px;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.note {
  flex: 60px;
  height: 64px;
  border: 2px solid grey;
  border-radius: 5%;
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#correct {
  background-color: #538d4e;
}

#almost {
  background-color: #b59f3b;
}

#error {
  background-color: #3a3a3c;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 10%;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.deleteKey {
  cursor: pointer;
  display: flex;
  border: 3px solid grey;
  border-radius: 10%;
  height: 75%;
  width: 15%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  
}

.deleteKey img {
  width: auto;
  height: 2.5rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-left: 5%;
}

.refC {
  cursor: pointer;
  display: flex;
  border: 4px solid grey;
  border-radius: 15%;
  height: 75%;
  width: 6%;
  justify-content: center;
  align-items: center;
}

.refC img {
  width: auto;
  height: 2rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.playChord {
  cursor: pointer;
  display: flex;
  border: 4px solid grey;
  border-radius: 15%;
  height: 75%;
  width: 6%;
  justify-content: center;
  align-items: center;
}

.playChord img {
  width: auto;
  height: 2rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.submitGuess {
  cursor: pointer;
  display: flex;
  border: 3px solid grey;
  border-radius: 10%;
  height: 75%;
  width: 13%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.submitGuess img {
  width: auto;
  height: 1.7rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-right: 10%;
}

.piano {
  display: flex;
  flex-direction: row;
}

.key {
  width: 40px;
  height: 200px;
  border: 2px solid black;
  display: flex;
  align-self: end;
  font-size: 20px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: black;
  justify-content: flex-end;
  flex-direction: column;
}

.key.flat {
  position: relative;
  background-color: black;
  color: white;
  margin-left: -17px;
  margin-right: -17px;
  height: 130px;
  width: 30px;
  z-index: 2;
  font-size: 16px;
}

#disabled {
  background-color: #3a393c;
}