.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}
.game {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  max-width: 350px;
  width: calc(100%);
  height: 400px;
  display: grid;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 10px;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.note {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #538d4e;
}

#almost {
  background-color: #b59f3b;
}

#error {
  background-color: #3a3a3c;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-bottom: 20px;
  border: 2px solid white;
}

.deleteKey {
  cursor: pointer;
}

.refC {
  cursor: pointer;
}

.playChord {
  cursor: pointer;
}

.submitGuess {
  cursor: pointer;
}

.piano {
  display: flex;
  flex-direction: row;
}

.key {
  width: 40px;
  height: 200px;
  border: 2px solid black;
  display: flex;
  align-self: end;
  font-size: 20px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: black;
  justify-content: flex-end;
  flex-direction: column;
}

.key.flat {
  position: relative;
  background-color: black;
  color: white;
  margin-left: -17px;
  margin-right: -17px;
  height: 130px;
  width: 30px;
  z-index: 2;
  font-size: 16px;
}

#disabled {
  background-color: #3a393c;
}