.App {
  text-align: center;
  background-color: #151515;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color:#151515;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav h1 {
  flex-grow: 1;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}

.info-container {
  position: absolute;
  left: 10px;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  aspect-ratio: 1 / 1 ;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease-in-out;
}

.info-container img {
  width: 65%;
  height: 65%;
  background-color: grey;
  object-fit: cover;
  overflow: clip;
  transition: all 0.3s ease-in-out;
}

.info-container:hover {
  border: 2px solid rgb(155, 89, 182);
}

.info-container:hover img {
  background-color: rgb(155, 89, 182);
}

.stats-container {
  position: absolute;
  right: 10px;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  aspect-ratio: 1 / 1 ;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease-in-out;
}

.stats-container img {
  width: 60%;
  height: 60%;
  background-color: grey;
  object-fit: cover;
  overflow: clip;
  transition: all 0.3s ease-in-out;
}

.stats-container:hover {
  border: 2px solid rgb(245, 228, 77);
}

.stats-container:hover img {
  background-color: rgb(245, 228, 77);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Modal content */
.rules-content, .stats-content {
  background-color: #111;
  color: white;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  font-family: Arial, sans-serif;
}

.rules-content::after, .rules-content::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(#b59f3b, #538d4e, #808080, #b59f3b);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
}

.stats-content::after, .stats-content::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(#3bb599, #d25435, #808080, #3bb599);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
}

.rules-content::before, .stats-content::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* Header and text styles */
.rules-content h2, .stats-content h2 {
  font-size: 2rem;
  font-weight: bold;
}

.rules-content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.rules-content ul {
  margin-left: 10px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1
}

.rules-content h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

/* Examples section */
.examples {
  margin-top: 1.5rem;
}

.example {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.example-tile {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

hr {
  border: 0;
  border-top: 1px solid #666;
  margin: 20px 0;
}

.example-tile {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

/* Colors for example tiles */
.green {
  background-color: #538d4e;
}

.yellow {
  background-color: #b59f3b;
}

.grey {
  background-color: #3a3a3c;
}

.stats-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stats-header div {
  text-align: center;
}

.stats-header p {
  margin: 5px 0 0;
}

.histogram-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.histogram-bar span {
  width: 20px;
  text-align: center;
}

.bar {
  flex-grow: 1;
  height: 20px;
  background-color: transparent;

  margin: 0 10px;
  position: relative;
}

.inner-bar {
  background-color: #888;
  height: 100%;
  width: 0%;
}

.share-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.share-button {
  background-color: #538d4e; /* Green background */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px; /* Rounded edges */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.share-button:hover {
  background-color: #4a7b45; /* Darker green on hover */
}

.share-button img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

/* ACTUAL GAME */

.game {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.board {
  max-width: 350px;
  width: 100%;
  height: 400px;
  display: grid;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 10px;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.note {
  flex: 60px;
  height: 64px;
  border: 2px solid grey;
  border-radius: 5%;
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#correct {
  background-color: #538d4e;
}

#almost {
  background-color: #b59f3b;
}

#error {
  background-color: #3a3a3c;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  max-width: 600px;
  max-height: 75px;
  height: auto;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.submitGuess, .refC, .playChord, .deleteKey {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10%; 
  border: 2px solid grey;
  transition: border 0.3s ease-in-out;
}

.submitGuess img, .refC img, .playChord img, .deleteKey img {
  width: 75%;
  height: auto;
  object-fit: contain;
  background-color: grey;
  transition: all 0.3s ease-in-out;
}

.submitGuess:hover {
  border: 2px solid rgb(115, 201, 115);
}

.submitGuess:hover img {
  background-color: rgb(115, 201, 115);
}

.refC:hover {
  border: 2px solid rgb(92, 147, 255);
}

.refC:hover img {
  background-color: rgb(92, 147, 255);
}

.playChord:hover {
  border: 2px solid rgb(255, 187, 85);
}

.playChord:hover img {
  background-color: rgb(255, 187, 85);
}

.deleteKey:hover {
  border: 2px solid rgb(255, 97, 97);
}

.deleteKey:hover img {
  background-color: rgb(255, 97, 97);
}

.piano {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
  scrollbar-width: thin;
  justify-content: center;
}

.piano::-webkit-scrollbar {
  height: 8px;
  background-color: #f1f1f1;
}

.piano::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.piano::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.key {
  width: 35px;
  height: 150px;
  border: 2px solid black;
  margin-right: 1px;
  margin-left: 1px;
  

  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: black;
  flex-direction: column;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

.key:hover {
  background-color: rgb(83, 169, 254);
}

.key.flat {
  position: relative;
  background-color: black;
  color: white;
  margin-left: -14px;
  margin-right: -14px;
  height: 100px;
  width: 25px;
  z-index: 0;
  font-size: 14px;
  box-sizing: border-box;
}

.key.flat:hover {
  background-color: rgb(42, 87, 131)
}

#disabled {
  background-color: #3a393c;
}